h1{font-size: 65px;
    color: orange;
   font-family: sans-serif;
    font-style: oblique;
    }
    ul {background: royalblue;}
    .Fundo{ background: violet;
           line-height:40px; 
           text-align: center;}
    p{font-weight: 600;
      font-size: 3em;
      font-weight: bold;
      text-decoration: double;}
      #vermelho { background: red;color: blanchedalmond;}
      #preto{ background: black; color: blanchedalmond;}
      #azul{background: blue; color: azure;}
      #roxo{ background: purple; color: azure;}
    body{ font-size: 16px;}